---
import ImageGallery from '../components/ImageGallery.astro';
---

<html>
  <head>
    <title>Astro Unsplash Gallery</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <ImageGallery />
  </body>
</html>